.tabs {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
}

.tabs button {
    background: none;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
    padding: 10px 20px;
    cursor: pointer;
}

.tabs button.active {
    background-color: #0044b1;
    color: white;
    border-radius: 5px 5px 0 0;
}

.tabs button:hover {
    background-color: #0056b3;
    color: white;
    text-decoration: none;
}
